<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1OTM2MDAzNTYsInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCI2ZWUzOTExYy05MjQ2LTQ1ZDMtODE0Ni1lOTYyYWIzMThjMzhcIixcInNlY3JldEtleVwiOlwiYzI4NjFkZWRlYjk4NDEwNTg4NTdkZDJhYzRmNWU3MTNcIn0ifQ.Vc4872fG0QbLZ5jHMDBBEjoN3BkA8ZPxk1fOIKcBpzE" />
    <option name="deviceId" value="6ee3911c-9246-45d3-8146-e962ab318c38" />
    <option name="refreshToken" value="bac9b8e854364b7585327148784c4dc9" />
  </component>
</application>